<!DOCTYPE html>
{% load static %}


<html>
<head>
	<title>Roni Mondal</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	<link rel="stylesheet" href="{% static 'css/howto.css' %}">
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/pp.jpg' %}" >
					<hr>
					<h4>Hi I'm Roni!</h4>
					<p>I love coding, learning and playing Football</p>
					<p style="color:blue;"> @: roni78rm@gmail.com</p>

				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Started to learn Code like</h4>
					<hr>
					<p>After a horrific injury, to overcome boredom and depression, I started learning to code to keep my mind away from football. Before that ,Coding wasn't even something I loved but after a while I was in love with it as much I love Football.</p>

					<p>Before I knew, I started coding like it was an escape for me in those injury days.Later on when I got back on the Football field(after 6 months),I just realised that I started making time for coding just like I play and practice Football everyday.Coding became a part of my everyday schedule,I enjoyed it even when I was tired after a hectic session of Football.</p>

					<p>From this you’ll see that I’m someone who codes only for the chill without expecting anything in return</p>

					<ul class="nav">
						<li><a href="https://www.facebook.com/roni.mondal.5283" target="_blank"><img  src="{% static 'images/fb.png' %}"></a></li>
						<li><a href="https://instagram.com/__footer__?utm_medium=copy_link" target="_blank"> <img  src="{% static 'images/insta.png' %}"></a></li>
						<li><a href="https://github.com/ronihere" target="_blank"> <img  src="{% static 'images/git.png' %}"></a></li>
						<li><a href="https://www.linkedin.com/in/roni-mondal" target="_blank"> <img  src="{% static 'images/in.png' %}"></a></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<b><p> * Web Development & Design Intern at The Sparks Foundation.</p></b><div class="container"><div class="container">
					<p>Designed, built and managed a Bank management system as a sole developer which is <b>live</b> on Heroku.<a href="https://bankofroni.herokuapp.com/" target="_blank">Click Here</a></p>
					<p>Designed a simple Payment Gateway Integration website</p>
					<p>Designed a live word-meaning generator which is also <b>live</b> on Heroku <a href="https://dictoroni.herokuapp.com/" target="_blank">Click Here</a></p>
				</div></div>

<!--				<b><p> * Web Development & Design Intern at The Sparks Foundation.</p></b>-->
<!--					<div class="container"><div class="container">-->
<!--					<p>Designed, built and managed a Bank management system as a sole developer which is live on Heroku.<a href="https://bankofroni.herokuapp.com/">Click Here</a></p>-->
<!--					-->
<!--				</div></div>-->


				</div>


			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript, Postgres, MySql and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>PS: Working on some Django projects currently</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
					<p>A self-learner who learns from various blogs ,YouTube channels and sites available on the Internet</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>Enhancing my experience as a developer and exploring the field with full passion.</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>	<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>About Me</h5>
					<hr>
<!--					<p>Reverse Engineer & Build Ugly Prototypes First.</p>-->

					<p>A Python-Django developer levaraging the model-template view pattern in the Django framework to speed up development and decrease design costs.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Education</h5>
				<hr>
				<ul style="list-style-type:circle">


  <li><strong> * B.sc(Hons.)Computer Science (7.9)</strong>:Sir Gurudas &nbsp;&nbsp;&nbsp;Mahavidyalaya ~University of Calcutta(2019-present)</li>
<li><strong> * HS(75.6%)</strong>: Bidhan nagar Govt High School(2017-2019)</li>
					<li><strong> * Matrix(89%)</strong>:  Bidhannagar Municipal School(2007-2017) </li>
				</ul>

				</div>
			</div>
		</div>
		<br>


<!--		Projects-->

		<h1 style="text-align:center; background-color:black;color:white;font-family:courier;">Projects Section</h1>
{% for project in projects %}
		<div class="row">
			<div class="col-md-12">
				<div class="card card-body h-100">


				<h2 style="text-align:center;font-family:Blippo, fantasy;">{{project.name}}</h2>
<p style="text-align:center;font-family:Comic Sans MS, Comic Sans, cursive;">{{project.desc}}</p>
<a href="{{project.link}}" target="_blank" style="text-align:center;font-family:Comic Sans MS, Comic Sans, cursive;">To see the presentation , click here</a>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 4</div>
  <img src="{{project.img1.url}}" style="width:100%">
  <div class="text">{{project.caption1}}</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 4</div>
  <img src="{{project.img2.url}}" style="width:100%">
  <div class="text">{{project.caption2}}</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 4</div>
  <img src="{{project.img3.url}}" style="width:100%">
  <div class="text">{{project.caption3}}</div>
</div>

	<div class="mySlides fade">
  <div class="numbertext">4 / 4</div>
  <img src="{{project.img4.url}}" style="width:100%">
  <div class="text">{{project.caption4}}</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

			</div>
			</div></div>
		<hr style=" border: 5px solid black;
  border-radius: 5px;">
		{% endfor %}
			</div>


















<!--		<h1 style="text-align:center; background-color:black;color:white;font-family:courier;">Projects Section</h1>-->
<!--		{% for project in projects %}-->
<!--		-->
<!--		<h3 style="text-align:center;font-family:Blippo, fantasy;">{{project.name}}</h3>-->
<!--		<p style="text-align:center;font-family:Comic Sans MS, Comic Sans, cursive;">{{project.desc}}</p>-->
<!--	<div class="center">-->
<!--			<div class="">-->




<!--<div class="slideshow-container">-->

<!--<div class="mySlides fade">-->
<!--  <div class="numbertext">1 / 4</div>-->
<!--  <img src="{{project.img1.url}}" width="1000" height="450">-->
<!--  <div class="text">{{project.caption1}}</div>-->
<!--</div>-->

<!--<div class="mySlides fade">-->
<!--  <div class="numbertext">2 / 4</div>-->
<!--  <img src="{{project.img2.url}}" width="1000" height="450">-->
<!--  <div class="text">{{project.caption2}}</div>-->
<!--</div>-->

<!--<div class="mySlides fade">-->
<!--  <div class="numbertext">3 / 4</div>-->
<!--  <img src="{{project.img3.url}}" width="1000" height="450">-->
<!--  <div class="text">{{project.caption3}}</div>-->
<!--</div>-->

<!--<div class="mySlides fade">-->
<!--  <div class="numbertext">4 / 4</div>-->
<!--  <img src="{{project.img4.url}}" width="1000" height="450">-->
<!--  <div class="text">{{project.caption4}}</div>-->
<!--</div>-->

<!--</div>-->
<!--<br>-->

<!--<div style="text-align:center">-->
<!--  <span class="dot"></span>-->
<!--  <span class="dot"></span>-->
<!--  <span class="dot"></span>-->
<!--  <span class="dot"></span>-->
<!--</div>-->


<!--			</div>-->
<!--		</div>-->
<!--{% endfor %}-->
<!--	</div>-->








	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Any Quesries? I'm just a minute away</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="wrapper img" style="background-image: url({% static 'images/img.jpg' %});">
						<div class="row">
							<div class="col-md-9 col-lg-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Get in touch with me</h3>
									<div id="form-message-warning" class="mb-4"></div>

									<form method="POST" action="" id="contactForm" name="contactForm" class="contactForm">{% csrf_token %}
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Full Name</label>
													<input type="text" class="form-control" name="name" id="name" placeholder="Name">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="email">Email Address</label>
													<input type="email" class="form-control" name="email" id="email" placeholder="Email">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">Subject</label>
													<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
												</div>
											</div><div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">Date</label>
													<input type="date" class="form-control" name="date" id="date" placeholder="Date">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="#">Message</label>
													<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
												</div>
											</div>
											<div class="error-message"></div>
                {% for message in messages %}
                {% if "contact" in message.tags %}
                <div class="sent-message">{{message}}</div>{% endif %}{% endfor %}
              </div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>






	<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/howto.js' %}"></script>




</body>
</html>